<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207217158351-k7evlqft5fbn8dmke5u1u3b50pd19bh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207217158351-k7evlqft5fbn8dmke5u1u3b50pd19bh0</string>
	<key>API_KEY</key>
	<string>AIzaSyBl2fn6Dt-7VEfOnTk265frWVB884dsDvk</string>
	<key>GCM_SENDER_ID</key>
	<string>207217158351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IceBreakerappinc</string>
	<key>PROJECT_ID</key>
	<string>icebreaker-e49ea</string>
	<key>STORAGE_BUCKET</key>
	<string>icebreaker-e49ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207217158351:ios:7f42e82b21aa2344</string>
	<key>DATABASE_URL</key>
	<string>https://icebreaker-e49ea.firebaseio.com</string>
</dict>
</plist>